.wrap{
	background: #808080;
	width: 900px;
	margin: 10px auto;
}

/*bagian header*/
.wrap .header{
	background: yellow;
	/*height: 50px;*/
	padding: 2px 10px;
}

/*akhir header*/

/*bagian menu*/
.wrap .menu{
	background: #964B00;
}

.wrap .menu ul{
	padding: 0;
	margin: 0;
	background: #964B00;
	overflow: hidden;
}

.wrap .menu ul li{
	float: left;
	list-style-type: none;
	padding: 10px;
}
/*akhir menu*/

.clear{
	clear: both;
}

.badan{
	height: 550px;
}
/*bagian sidebar*/
.wrap .badan .sidebar{
	background: orange;
	float: left;	
	width: 25%;
	height: 100%;
}

/*akhir sidebar*/

.wrap .badan .content{
	background: red;
	float: left;
	height: 100%;
	width: 75%;	
}

.wrap .footer{
        Width: 100%;
        height: 50px;
        padding-left: 10px;
        line-height: 70px;
        background: #333;
        color: #fff;
        position: absolute;
        bottom: 0px;
}
