<!DOCTYPE html>
<html>
<head>
<style>
.body{
      -webkit-animation: mymove 20s infinite; /* Chrome, Opera, and Safari */
       animation: mymove 20s infinite; /* Sintaksis standar*/
       background-color: #808080;
</style>
}

/*bagian header*/
.header{
	background: yellow;
	/*height: 50px;*/
	padding: 2px 10px;
}

/*akhir header*/

/*bagian menu*/
.menu{
	background: #964B00;
}

.menu ul{
	padding: 0;
	margin: 0;
	background: #964B00;
	overflow: hidden;
}

.menu ul li{
	float: left;
	list-style-type: none;
	padding: 10px;
}
/*akhir menu*/

.clear{
	clear: both;
}

.content{
	background: red;
	float: left;
	height: 100%;
	width: 75%;	
}

.footer{
        width: 100%;
        padding:10px;
        color: #333;
        position: absolute;
        bottom: 0px;
}
